body{
    margin:0;
    padding:0;
    font-family: "Arial Black";
    color: white;
}

h1, h3, span, p{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10dvh;
    width: 100%;
    background-color: rgb(61, 61, 73);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90dvh;
    width: 100%;
}

#container_pomodoro{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(45, 50, 80);
}

#container_to_do{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(244, 139, 74);
}

#container_img_settings{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10%;
}

#button_settings{
    margin: 2rem;
}

#timer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 15rem;
    border: solid rgb(244, 139, 74) 5px;
    border-radius: 50%;
}

#container_trophies{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.trophy{
    margin: 0.5rem;
}

#container_settings{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height:85%;
    width: 35%;
    border-radius: 5%;
    background-color: rgb(66, 71, 105);
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.text_settings{
    display: block;
    text-align: center;
    width: 10vw;
}

.container_center{
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
}

.container_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#save_setting{
    color: rgb(237, 170, 117);
}

#cancel_setting{
    color: rgb(156, 153, 156);
}

.container_infos{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 15%;
    width: 45%;
    text-align: center;
    background-color: rgb(98, 107, 150);
    font-size: 0.9rem;
    border-radius: 4%;
}

#info_time_work:hover ~ #work_info_block{
    display: flex;
}

#info_time_short:hover ~ #short_info_block{
    display: flex;
}

#info_time_long:hover ~ #long_info_block{
    display: flex;
}

#info_time_cycles:hover ~ #cycles_info_block{
    display: flex;
}

#container_to_do{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#container_text_to_do{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    transition-duration: 0.5s;
}

.buttons:hover{
    cursor: not-allowed; /*to show the user that the buttons are not currently functional*/
    transform: scale(1.1);
}

#button_settings:hover{
    transform: rotate(90deg);
}
