body{
    margin:0;
    padding:0;
    font-family: "Arial Black";
    color: white;
}

h1, h3, span, p{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10dvh;
    width: 100%;
    background-color: rgb(61, 61, 73);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90dvh;
    width: 100%;
}

#container_pomodoro{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(45, 50, 80);
}

#container_to_do{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(244, 139, 74);
}

#container_img_settings{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10%;
}

#button_settings{
    margin: 2rem;
}

#timer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}


svg{
    position: absolute;
}

#progress_bar{
    transform: rotate(-90deg); 
    transform-origin: 50% 50%;
    transition-duration: 0.35s;
}

#container_trophies{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.trophy{
    transition-duration: 0.5s;
    margin: 0.5rem;
}

#text_motivation{
    transition-duration: 0.5s;
}

#container_settings{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height:85%;
    width: 35%;
    border-radius: 10px;
    background-color: rgb(66, 71, 105);
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.text_settings{
    display: block;
    text-align: center;
    width: 10vw;
}

.container_center{
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
}

.container_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=number]{
    width: 2rem;
    text-align: center;
    box-shadow: none;
    border: none;
    font-family: "Arial Black";
    background-color: rgb(66, 71, 105);
    color: white;
}

input[type=number]:focus{
    outline: none;
}

/* Desactiver les flèches des input de type number sur Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
 
/* Desactiver les flèches des input de type number sur Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
 
/* Desactiver les flèches des input de type number sur Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}

#save_setting{
    color: rgb(237, 170, 117);
}

#cancel_setting{
    color: rgb(156, 153, 156);
}

.container_infos{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 15%;
    width: 45%;
    text-align: center;
    background-color: rgb(98, 107, 150);
    font-size: 0.9rem;
    border-radius: 10px;
}

#info_time_work:hover ~ #work_info_block{
    display: flex;
}

#info_time_short:hover ~ #short_info_block{
    display: flex;
}

#info_time_long:hover ~ #long_info_block{
    display: flex;
}

#info_time_cycles:hover ~ #cycles_info_block{
    display: flex;
}

#container_avertissement{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 30%;
    width: 30%;
    height: 40%;
    border-radius: 0.5rem;
    background-color: white;
}

.container_column_avert{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 35%;
    align-items: center;
}

#container_text_avert{
    height: 25%;
}

#title_delete_timer{
    color: black;
    font-size: 1.1rem;
}

#text_delete_timer{
    color: rgb(169, 169, 169);
    font-size: 0.9rem;
}

#button_delete_timer{
    display: block;
    width: 80%;
    height: 50%;
    text-align: center;
    border: none;
    border-radius: 0.4rem;
    background-image: linear-gradient(
        54deg, #ffa200 0%,
        #ff5500 82%
    );
    box-shadow:  0.3rem 0.3rem rgba(222, 127, 12, 0.2);
    color: white;
    font-size: 0.8rem;
    font-family: "Arial Black";
    transition-duration: 0.5s;
}

#button_keep_timer{
    color: rgb(238, 173, 122);
    transition-duration: 0.5s;
    font-size: 0.8rem;
}

#button_keep_timer:hover, #button_delete_timer:hover{
    transform: scale(1.03);
}

#container_to_do{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#container_text_to_do{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*

.default_to_do_page{
    display: none;
}

*/

#button_add_task{
    z-index: 1;
}


#container_create_task{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 35%;
    height: 75%;
    border-radius: 10px;
    background-color: white;
    z-index: 9;
}

textarea{
    resize: none;
}

#input_title{
    width: 85%;
    height: 15%;
    border-radius: 5px;
    border: solid black 1px;
    text-align: justify;
}

#input_title::placeholder{
    text-align: center;
    font-size: 18px;
}

#input_title:focus{
    outline: solid #ff5500 2px;
    border-color: #ff5500;
}

#input_description{
    width: 85%;
    height: 20%;
    border-radius: 5px;
    border: solid black 1px;
    text-align: justify;
}

#input_description::placeholder{
    text-align: center;
    font-size: 18px;
}

#input_description:focus{
    outline: solid #ff5500 2px;
    border-color: #ff5500;
}

.priority{
    display: block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition-duration: 0.5s;
}

.priority:hover{
    transform: scale(1.1);
}

#high{
    background-color: rgb(255 0 0 / 0.50);
    border: solid red 3px;
}

#medium{
    background-color: rgb(235 137 0 / 0.50);
    border: solid rgb(235, 137, 0) 3px;
}

#low{
    background-color: rgb(39 113 224 / 0.50);
    border: solid rgb(39, 113, 224) 3px;
}

#container_buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.button_todo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

#button_save_task{
    background-color: rgb(45 50 80 / 0.90);
    color: white;
}

#button_save_task:hover{
    background-color: rgb(45, 50, 80);
}

#button_cancel_task{
    background-color: rgb(200 200 200 / 0.80);
    color: rgb(0 0 0 / 0.80);
}

#button_cancel_task:hover{
    color: rgb(0 0 0);
    background-color: rgb(200, 200, 200);
}

#btn_delete_all_tasks{
    display: none;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(45 50 80 / 0.90);
    color: white;
    
}

#btn_delete_all_tasks:hover{
    background-color: rgb(45, 50, 80);
}

#container_tasks{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    height: 80%;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    min-height: 80px;
    height: auto;
    margin: 10px;
    padding: 15px 15px 15px 0;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    border-left: solid gray 40px;
}


input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}

input[type="checkbox"]:hover{
    border-color: rgb(45, 50, 80);
}

input[type="checkbox"]:checked {
  background-color: rgb(45, 50, 80);
  border-color: rgb(45, 50, 80);
}

input[type="checkbox"]:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) scale(0);
  transition: transform 0.2s ease-in-out;
}

input[type="checkbox"]:checked::after {
  transform: rotate(45deg) scale(1);
}

input[type="checkbox"]:checked+.container_column_text .title_task,
input[type="checkbox"]:checked+.container_column_text .description_task
{
    text-decoration: line-through;
    color: #999;
}

.container_column_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 0;
    margin: 0 15px;
}

.title_task{
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word; 
    color: black;
    margin: 2px 0;
}

.description_task{
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word; 
    color: black;
    margin: 2px 0;
}

.margin_btn{
    margin: 5px;
    transition-duration: 0.5s;
}

.margin_btn:hover{
    transform: scale(1.05);
}

.buttons{
    transition-duration: 0.5s;
}

.buttons:hover{
    transform: scale(1.1);
}

#button_settings:hover{
    transform: rotate(90deg);
}

.not_allowed:hover{
    cursor: not-allowed; /*to show the user that the buttons are not currently functional*/
}

