body{
    margin:0;
    padding:0;
    font-family: "Arial Black";
    color: white;
}

h1, h3, span, p{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10dvh;
    width: 100%;
    background-color: rgb(61, 61, 73);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90dvh;
    width: 100%;
}

#container_pomodoro{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(45, 50, 80);
}

#container_to_do{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(244, 139, 74);
}

#container_settings{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10%;
}

#button_settings{
    margin: 2rem;
}

#timer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 15rem;
    border: solid rgb(244, 139, 74) 5px;
    border-radius: 50%;
}

#container_trophies{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.trophy{
    margin: 0.5rem;
}

#container_to_do{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#container_text_to_do{
    justify-content: center;
}

.buttons{
    transition-duration: 0.5s;
}

.buttons:hover{
    cursor: not-allowed; /*to show the user that the buttons are not currently functional*/
}

#button_add_task:hover, #button_start:hover{
    transform: scale(1.1);
}

#button_settings:hover{
    transform: rotate(90deg);
}