body{
    margin:0;
    padding:0;
    font-family: "Arial Black";
    color: white;
}

h1, h3, span, p{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10dvh;
    width: 100%;
    background-color: rgb(61, 61, 73);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90dvh;
    width: 100%;
}

#container_pomodoro{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(45, 50, 80);
}

#container_to_do{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(244, 139, 74);
}

#container_img_settings{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10%;
}

#button_settings{
    margin: 2rem;
}

#timer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 15rem;
    border: solid rgb(244, 139, 74) 5px;
    border-radius: 50%;
}

#container_trophies{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.trophy{
    margin: 0.5rem;
}

#container_settings{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height:85%;
    width: 35%;
    border-radius: 10px;
    background-color: rgb(66, 71, 105);
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.text_settings{
    display: block;
    text-align: center;
    width: 10vw;
}

.container_center{
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
}

.container_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#save_setting{
    color: rgb(237, 170, 117);
}

#cancel_setting{
    color: rgb(156, 153, 156);
}

.container_infos{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 15%;
    width: 45%;
    text-align: center;
    background-color: rgb(98, 107, 150);
    font-size: 0.9rem;
    border-radius: 10px;
}

#info_time_work:hover ~ #work_info_block{
    display: flex;
}

#info_time_short:hover ~ #short_info_block{
    display: flex;
}

#info_time_long:hover ~ #long_info_block{
    display: flex;
}

#info_time_cycles:hover ~ #cycles_info_block{
    display: flex;
}

#container_avertissement{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 30%;
    width: 30%;
    height: 40%;
    border-radius: 0.5rem;
    background-color: white;
}

.container_column_avert{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 35%;
    align-items: center;
}

#container_text_avert{
    height: 25%;
}

#title_delete_timer{
    color: black;
    font-size: 1.1rem;
}

#text_delete_timer{
    color: rgb(169, 169, 169);
    font-size: 0.9rem;
}

#button_delete_timer{
    display: block;
    width: 80%;
    height: 50%;
    text-align: center;
    border: none;
    border-radius: 0.4rem;
    background-image: linear-gradient(
        54deg, #ffa200 0%,
        #ff5500 82%
    );
    box-shadow:  0.3rem 0.3rem rgba(222, 127, 12, 0.2);
    color: white;
    font-size: 0.8rem;
    font-family: "Arial Black";
    transition-duration: 0.5s;
}

#button_keep_timer{
    color: rgb(238, 173, 122);
    transition-duration: 0.5s;
    font-size: 0.8rem;
}

#button_keep_timer:hover, #button_delete_timer:hover{
    transform: scale(1.03);
    cursor: not-allowed; /*to show the user that the buttons are not currently functional*/
}

#container_to_do{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#container_text_to_do{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    transition-duration: 0.5s;
}

.buttons:hover{
    cursor: not-allowed; /*to show the user that the buttons are not currently functional*/
    transform: scale(1.1);
}

#button_settings:hover{
    transform: rotate(90deg);
}

